<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mockup</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
           <param-name>Admin</param-name>
           <param-value>admin</param-value>
  </context-param>
  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.mockup.user.filter.encodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>*</url-pattern>
  </filter-mapping>
  	
  <filter>
  	<filter-name>logonCheck</filter-name>
  	<filter-class>com.mockup.user.filter.logonCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>logonCheck</filter-name>
  	<url-pattern>/logoncheck/*</url-pattern>
  </filter-mapping>
  
   <filter>
  	<filter-name>accessControl</filter-name>
  	<filter-class>com.mockup.user.filter.accessControlFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>accessControl</filter-name>
  	<url-pattern>/logoncheck/access/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>doLoninFilter</filter-name>
  	<filter-class>com.mockup.user.filter.doLoninFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>doLoninFilter</filter-name>
  	<url-pattern>/dologin</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>doregisterFilter</filter-name>
  	<filter-class>com.mockup.user.filter.doregisterFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>doregisterFilter</filter-name>
  	<url-pattern>/doregister</url-pattern>
  </filter-mapping>

 <filter>
  	<filter-name>tologinFilter</filter-name>
  	<filter-class>com.mockup.user.filter.tologinFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>tologinFilter</filter-name>
  	<url-pattern>/tologin</url-pattern>
  </filter-mapping>
  
   <filter>
  	<filter-name>toregistFilter</filter-name>
  	<filter-class>com.mockup.user.filter.toregisterFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>toregistFilter</filter-name>
  	<url-pattern>/toregister</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>usermanageFilter</filter-name>
  	<filter-class>com.mockup.user.filter.usermanageFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>usermanageFilter</filter-name>
  	<url-pattern>/logoncheck/access/tousermanage</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>usermodifyFilter</filter-name>
  	<filter-class>com.mockup.user.filter.usermodifyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>usermodifyFilter</filter-name>
  	<url-pattern>/logoncheck/tousermodify</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>addtoshoppingcartFilter</filter-name>
  	<filter-class>com.mockup.shoppingcart.filter.addtoshoppingcartFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>toshoppingcartFilter</filter-name>
  	<filter-class>com.mockup.shoppingcart.filter.toshoppingcartFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>toshoppingcartFilter</filter-name>
  	<url-pattern>/logoncheck/toshoppingcart</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>addtoshoppingcartFilter</filter-name>
  	<url-pattern>/logoncheck/toshoppingcart/addtoshoppingcart</url-pattern>
  </filter-mapping>
  
  
  <filter>
  	<filter-name>toorderconfirmFilter</filter-name>
  	<filter-class>com.mockup.shoppingcart.filter.toorderconfirmFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>toorderconfirmFilter</filter-name>
  	<url-pattern>/logoncheck/toshoppingcart/toorderconfirm</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>tocleancartFilter</filter-name>
  	<filter-class>com.mockup.shoppingcart.filter.tocleancartFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>tocleancartFilter</filter-name>
  	<url-pattern>/logoncheck/toshoppingcart/tocleancart</url-pattern>
  </filter-mapping>

  <filter>
  	<filter-name>productDetailFilter</filter-name>
  	<filter-class>com.mockup.product.filter.productDetailFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>productDetailFilter</filter-name>
  	<url-pattern>/toproductdetail</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>productListFilter</filter-name>
  	<filter-class>com.mockup.product.filter.productListFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>productListFilter</filter-name>
  	<url-pattern>/toproductlist</url-pattern>
  </filter-mapping>
 <filter>
  	<filter-name>orderDetailFilter</filter-name>
  	<filter-class>com.mockup.order.filter.orderDetailFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>orderDetailFilter</filter-name>
  	<url-pattern>/logoncheck/toorderdetail</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>orderListFilter</filter-name>
  	<filter-class>com.mockup.order.filter.orderListFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>orderListFilter</filter-name>
  	<url-pattern>/logoncheck/toorderlist</url-pattern>
  </filter-mapping>




  
  <servlet>
  	<servlet-name>userModify</servlet-name>
  	<servlet-class>com.mockup.user.view.userModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userModify</servlet-name>
  	<url-pattern>/logoncheck/tousermodify</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>userRegister</servlet-name>
  	<servlet-class>com.mockup.user.view.userRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userRegister</servlet-name>
  	<url-pattern>/toregister</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>userManage</servlet-name>
  	<servlet-class>com.mockup.user.view.userManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userManage</servlet-name>
  	<url-pattern>/logoncheck/access/tousermanage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>userLogin</servlet-name>
  	<servlet-class>com.mockup.user.view.userLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userLogin</servlet-name>
  	<url-pattern>/tologin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>shoppingCart</servlet-name>
  	<servlet-class>com.mockup.shoppingcart.view.shoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>shoppingCart</servlet-name>
  	<url-pattern>/logoncheck/toshoppingcart</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>orderConfirm</servlet-name>
  	<servlet-class>com.mockup.shoppingcart.view.orderConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>orderConfirm</servlet-name>
  	<url-pattern>/logoncheck/toshoppingcart/toorderconfirm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>productDetail</servlet-name>
  	<servlet-class>com.mockup.product.view.productDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>productDetail</servlet-name>
  	<url-pattern>/toproductdetail</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>productList</servlet-name>
  	<servlet-class>com.mockup.product.view.productListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>productList</servlet-name>
  	<url-pattern>/toproductlist</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>orderDetail</servlet-name>
  	<servlet-class>com.mockup.order.view.orderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>orderDetail</servlet-name>
  	<url-pattern>/logoncheck/toorderdetail</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>orderList</servlet-name>
  	<servlet-class>com.mockup.order.view.orderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>orderList</servlet-name>
  	<url-pattern>/logoncheck/toorderlist</url-pattern>
  </servlet-mapping>

  
  <servlet>
  	<servlet-name>error</servlet-name>
  	<servlet-class>com.mockup.errorhelper.error</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>error</servlet-name>
  	<url-pattern>/error</url-pattern>
  </servlet-mapping>
</web-app>